@import url( ../page-header/page-header-1.css );
@import url( ../page-pathbar/page-pathbar-1.css );
@import url( ../page-toolbar/page-toolbar-1.css );
@import url( ../page-main/page-main-1.css );
@import url( ../horizontal-title-rule/horizontal-title-rule-1.css );
@import url( ../tool-buttons/collapse-chapters-button-1.css );
@import url( ../page-footer/page-footer-1.css );
@import url( ../page-abstract/page-abstract-1.css );
@import url( ../docking-panel/docking-panel-1.css );
@import url( ../navigation-panel/navigation-panel-1.css );
@import url( ../table-styles/flat-borders-1.css );
@import url( ../sourcecode/sourcecode-1.css );
@import url( ../description-list/description-list-1.css );
@import url( ../content-height-observer/content-height-observer-1.css );
@import url( ../checked-items/checked-items-1.css );
@import url( ../collapsible-structures/collapsible-structures-1.css );
@import url( ../sitemap-navigator/sitemap-navigator-1.css );
@import url( ../css-counter/css-counter-1.css );
@import url( ../description-list/description-list-1.css );
@import url( ../literature-reference-list/literature-reference-list-1.css );
@import url( ../link-target-highlighter/link-target-highlighter-1.css );
@import url( ../math/math-1.css );
@import url( ../unicode-characters/unicode-characters-1.css );
@import url( ../page-colors/page-colors-1.css );

@font-face { 
	font-family: "arial narrow"; 
	font-style: normal; 
	font-weight: 400;
	src: 	local("Arial Narrow"), 
		local("ArialNarrow-Regular"), 
		url(/inc/fonts/arial-narrow.woff) format("woff"), 
		url(/inc/fonts/arial-narrow.ttf) format("truetype");
	}
@font-face {  
		/* unused */
	font-family: "constantia"; 
	font-style: normal; 
	font-weight: 400;
	src: 	local("Constantia"), 
		local("Constantia"), 
		url(/inc/fonts/constantia.ttf) format("truetype");
	}
@font-face { 
		/* unused */
	font-family: "droid sans mono"; 
	font-style: normal; 
	font-weight: 400;
	src: 	local("droid sans mono"), 
		url(/inc/fonts/DroidSansMono.ttf) format("truetype");
	}
@font-face { 
		/* unused */
	font-family: "encode sans condensed"; 
	font-style: normal; 
	font-weight: 400;
	src: 	local("encode sans condensed"), 
		url(/inc/fonts/EncodeSansCondensed-Regular.ttf) format("truetype");
	}
@font-face {
		/* for code listing blocks */
	font-family: "inconsolata condensed"; 
	font-style: normal; 
	font-weight: 400;
	src: 	local("inconsolata condensed"), 
		url(/inc/fonts/Inconsolata-variable-wdth-wght.ttf) format("truetype");
	}
body { 
	font-family : "Segoe UI" ;
	margin : 120px 20px 50px 20px ;
	}
figcaption { font-family : "Times New Roman", Constantia ; color : #888 ; font-size : 6px ; border-bottom : 1px solid silver  }
figure { margin-left : 0px ; margin-right : 0px }
figure.demo iframe { border : 1px solid silver ; width : 100% }
figure.demo figcaption { border-bottom-style : none ; margin-bottom : 5px }
figure.listing > figcaption { font-style : italic ; padding-bottom : 5px }
figure.listing > pre { background-color : #eee ; font-family: "inconsolata condensed", "constantia", "droid sans mono" ; font-size : 15px ; font-variant-numeric : lining-nums tabular-nums slashed-zero ; line-height: 20px ; tab-size : 15px ; overflow-x : auto ; padding : 5px ; scrollbar-color : #aaa #ddd ; margin-top : 0px }
h1 { text-align : center }
h1, h2, h3, h4, h5 { font-family : "Times New Roman", "Arial Narrow" ; font-weight : normal ; margin-left : -20px }
main { margin-left : 20px }
html { scrollbar-color : #999 #eee }
ol > li, ul > li { margin-top: 5px ; margin-bottom : 5px }
ol.spaced-items li, ul.spaced-items li { margin-top: 20px ; margin-bottom : 20px }
p { line-height : 25px }
p.subtitle { text-align : center ; margin-top : 0 ; margin-bottom : 30px ; font-family : "palatino linotype", "times new roman" }
pre { 
	font-family : "inconsolata condensed" ; 
	font-size : 10pt ;
	font-stretch: semi-condensed;
	font-weight : normal ;
	line-height : 18px ;
	tab-size : 20px ;
	}
span.keyword { font-family : "Palatino Linotype", "Times New Roman" }
table > caption { 
	text-align : left ;
	font-family : "Times New Roman" ;
	color : #888 ;
	margin-bottom : 5px ;
	}
tt { 
	font-family : "Times New Roman" ;
	color : SteelBlue ;
	}
ul.no-bullets { list-style-type : none }

.note { border-left : 8px dotted lightblue ; padding-left : 15px }
div.note { padding-bottom : 0 }