span.unicode.return::before { 
	content : "\2936" ;
	color : green ;
	position : relative ;
	top : 2px ;
	}
span.unicode.Ropf::before {
	content : "\211D" ;
	font-family : "Cambria Math"
	}
span.unicode.Copf::before {
	content : "\2102" ;
	font-family : "Cambria Math"
	}
