/*    svg-1.css    2023-05-30    usp    */

svg text {
	 font-family : "Times New Roman" ;
	 stroke : none ;
	 }

tspan[sub] {
	baseline-shift : sub ;
	font-size : smaller ;
	}

tspan[sup] {
	baseline-shift : super ;
	}