	/* 2025-03-03 */
:root {
	--math-fonts : "Cambria Math", "Asana Math", "STIX2 Math Regular" , "Times New Roman" ;
	}
div.math-text {
	line-height : 1.6 ;
	}
equation-number {
	font-family : "Cambria Math", "Asana Math", "STIX2 Math Regular" , "Times New Roman" ;
	}
figure.definition math {
	margin : 10px 0 ; 
	}
math {
	font-family : "Cambria Math", "Asana Math", "STIX2 Math Regular" , "Times New Roman" ;
	}
math[ display="block" ] {
	margin-top : 16px ;
	margin-bottom : 16px ; 
	overflow-x : auto ;
	overflow-y : clip ;
	scrollbar-color : transparent transparent ;
	}
math[ display="block" ]:hover {
	scrollbar-color : #999 #eee ;
	}
math.vspace { 
	padding-top : 8px ; 
	padding-bottom : 8px ;
	}
mi.overline ,
mrow.overline ,
mtext.overline {
	border-top: 1px solid black;
	padding-top: 2px
}
mfrac > mrow.overline:nth-child( 2 ) {
	margin-top : 2px ;
	}
mrow.hspace mi {
	padding-left : 1px ;
	padding-right : 1px ;
	}
mrow.margin-h-8 {
	margin-left : 8px ;
	margin-right : 8px ;
	}
mtable.fenced mtd {
	padding-left: 2px;
	padding-right: 2px;
}
mtable.fenced mtd:first-child {
	padding-left: 0;
}
mtable.fenced mtd:last-child {
	padding-right: 0;
}
	/* for layouts with numbered equations */
mtable.layout > mtr:first-child > mtd:first-child {
	box-sizing : border-box ;
	width : 100% ;
	}
mtable.left-aligned > mtr > mtd:first-child {
	text-align : left ;
	text-align : -webkit-left ;
	}
	/* vertical axis aligned */
mtable.vaxis-aligned > mtd {
	box-sizing : border-box ;
	}
mtable.vaxis-aligned > mtr > mtd:first-child {
	text-align : right ;
	text-align : -webkit-right ;
	}
mtable.vaxis-aligned > mtr:first-child > mtd:first-child {
	width : 50% ;
	}
mtable.vaxis-aligned > mtr:first-child > mtd:nth-child( 2 ) {
	width : auto ;
	}
mtable.vaxis-aligned > mtr > mtd:nth-child( 3 ) {
	text-align : left ;
	text-align : -webkit-left ;
	}
mtable.vaxis-aligned > mtr:first-child > mtd:nth-child( 3 ) {
	width : 50% ;
	}
xxx-math mi,
xxx-math mo {
	/* The only way to enforce a uniform minimum line height */
	/* That doesn't work, spoils the position of subscripts! */
	min-height : 15px ;
	}
