/*		evaluator-1.css    2023-05-21    usp    */

.calculator {
	border : 1px solid silver ;
	padding : 10px ;
	}

input {
	border : 1px solid silver ;
	padding : 5px 10px ;
	}

input:hover {
	border : 1px solid orange ;
	}

input:focus {
	outline-color : orange ;
	}

Input+label {
	margin-left : 20px ;
	}

label+input {
	margin-left: 20px;
	}