/* headers-2.css  2022-12-01  usp */

#page-header {
	height : 65px ;
	background-image : url("/logo.svg");
	background-position: 10px 5px ;
	background-repeat : no-repeat ;
	}

#page-header [data="title.svg"] {
	height : 100% ;
	margin-left : 160px ;
	}
